*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}



.header{
    background-color: #bee3db;
    padding: 30px;
    text-align: center ;
    font-size: 35px;
}

.column{
    float: left;
    padding: 10px;
    height: 300px;
}

.column.side{
    width: 25%;
    background-color: #555b6e;
}

#column_rigth{
    background-color: #89b0ae;
}

.column.middle{
    width: 50%;
    background-color: #faf9f9;
}

.row::after{ /* isso impede que as classes que venham a seguir flutuem a esquerda como as div a cima */
    content: "";
    display: table;
    clear: both;
}

.footer{
    background-color: #ffd6ba;
    padding: 10px;
    text-align: center;
}

/* para a pagina ficar responsiva*/
@media(max-width: 600px){
    .column.side, .column.middle{
        width: 100%;
    }

    h2{
        font-size: 40px;
    }
}